<div class="container-nav {% unless page.hide_nav_back %}container-nav-back{% endunless %} _anim-items">
    <div class="container-width">
        <div class="logo">
            <a class="logo-link" href="{{ site.baseurl }}/">
                <img class="logo-img" src="{{ '/assets/img/logo_1.png' | relative_url }}" alt="logo">
            </a>
        </div>
        <div class="logo-link-back-to-pravbratsk">
            <a target="_blank" class="logo-link"
                href="https://pravbratsk.ru/parish/hram-svyato-feofanovskiy-p-magistralyniy/">
                <p>На сайт епархии</p>
            </a>
        </div>
        <div class="NavbarCollaps">
            <span></span>
        </div>
        <nav class="navbar">
            <ul class="menu _anim-items">
                <li>
                    <a class="menu-link _index" href="{{ site.baseurl }}/">О ХРАМЕ</a>
                </li>
                <li class="lock">
                    <a class="menu-link _index" href="{{ site.baseurl }}/clergy">Духовенство</a>
                </li>
                <li><a class="menu-link _timetable" href="{{ site.baseurl }}/timetable">БОГОСЛУЖЕНИЯ</a>
                </li>
                <li class="lock"><a class="menu-link _timetable" href="{{ site.baseurl }}/sacrament">Таинства и
                        обряды</a></li>
                <li><a class="menu-link _live-cerch" href="{{ site.baseurl }}/advert">ЖИЗНЬ ПРИХОДА</a>
                </li>
                <li class="lock"><a class="menu-link _live-cerch" href="{{ site.baseurl }}/news">Новости</a>
                </li>
                <li><a class="menu-link _contacts" href="{{ site.baseurl }}/contacts">КОНТАКТЫ</a></li>
                <li><a class="menu-link _charity" href="{{ site.baseurl }}/charity">ПОЖЕРТВОВАТЬ</a>
                </li>
            </ul>
        </nav>
    </div>
</div>