<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Адаптив-область vieport будет подстраиваться под ширину экрана. Первое значение изначальный масштаб страницы. Второе максималтный масштаб страницы. Третье запрет масштабирования. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum--scale=1.0, user-scalable=0">
    <!--Отключает формирование ссылки у теелфона на iOS-->
    <meta name="format-detection" content="telephone=no">
    <!--Краткое описание страницы-->
    <meta name="description" content="Храм во имя свт. Феофана Затворника (п. Магистральный)">
    <!-- Управление доступом поисковых роботов к странице -->
    <meta name="robots" content="noindex">
    <!--Название страницы-->
    <title>Храм во имя свт. Феофана Затворника (п. Магистральный)</title>
    <!--Пдключаем иконку страницы-->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <!--Пордключаем CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        {{ content }}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>